.App {
  text-align: center;
}

.image {
  width: 200px;
  height: 300px;
  float: left;
  padding: 5px
}

.shelves {
  background: #523f3b;
  height: 350px;
  border-style: inset;
  border-color: #493835;
}

.shelf-title{
  padding: none;
  height: 10px;
  width: 1400px;
  color: gold;
  font-family: cursive;
  font-size: 30px;
  margin-bottom: 25;
  margin-top: 0px;

}

