
.App {
  text-align: center;
  color: gold;
  font-family: cursive;
  height: 1000px;
  background-color: #523f3b;
}

hr{
  border-color: #493835;
}

.Nav{
  width: 15px;
  font-family: cursive;
}

.image {
  width: 200px;
  height: 270px;
  float: left;
  padding: 5px;
  
}

.library {
  background: #523f3b;
  color: gold;
  font-family: cursive;
}

.library hr{
  border-color: #493835;
}

.shelves {
  background: #523f3b;
  height: 410px;
  border-style: inset;
  border-color: #493835;
}

.shelf-title{
  padding-bottom: 10px;
  height: 10px;
  width: 1430px;
  color: gold;
  font-family: cursive;
  font-size: 30px;
  margin-bottom: 25;
  margin-top: 0px;

}

.book{
  background: #523f3b;
  font-family: cursive;
  color:gold;
}

.book img{
  height: 300px;
  width: 200px;
  border-style: inset;
  border-color: #493835;
  border-width: thick;
}

.book h4{
  width: 500px;
  padding-left: 460px;
  font-size: 16px;
}

.book hr{
  border-color: #493835;
}

.button{
  border-radius: 5px;
  border-style: outset;
  border-color: #493835;
  background: #523f3b;
  color: gold;
  height: 23px;
}

.buttons{
  display: flex;
  justify-content: center;
  position: relative;
}

.form{
  opacity: 80%;
  padding-right: 100px;
  width: 300px;
}

#summary{
  height: 50px;
}

#pages{
  width: 30px
}

#name{
  width: 150px;
}

#author{
  width: 100px
}

#imageurl{
  width: 100px
}

#button{
  border-radius: 5px;
  border-style: outset;
  border-color: #493835;
  background: #523f3b;
  color: gold;
  height: 23px;
  float: left;
}


